/.github export-ignore
/example export-ignore
/tests export-ignore
/*.xml.dist export-ignore
/AGENTS.md export-ignore
/phpstan.neon.dist export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
