<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="run-parallel">
    <arg name="colors" />
    <arg value="p" />
    <arg name="extensions" value="php" />

    <file>bin</file>
    <file>src</file>
    <file>tests</file>

    <rule ref="PSR12" />

    <exclude-pattern>vendor/</exclude-pattern>
</ruleset>
